[
	{wnkd, [
		%% Object storage credentials
		{object_store_url, "https://objects.liquidweb.services"},
		{object_store_bucket, "wnkd"},
		{object_store_access, "I AM AN ACCESS KEY"},
		{object_store_secret, "I AM A SECRET AUTHENTICATION TOKEN"}
	]},
	{wnkd_web, [
	]},
	{pgapp, [
		{pools, [{wnkd, [
				{size, 10},
				{max_overflow, 20}
			], [
				{host, "localhost"},
				{database, "wnkd"},
				{username, "wnkd"},
				{password, "EXAMPLE#!"}
			]}
		]}
	]}
].
