html {
	font-family: serif;
}

body {
	background-color: black;
}

#main-content {
	background-color: white;
/*	width: 100%;
	height: 100vh;
*/	margin: 0 auto;
}

nav, footer {
	background-color: white;
	margin: 1% 0% 1% 0%;
}

nav, footer, #main-content {
	border-radius: 10px;
}

.link-display {
	border: none;
	background: none;
	color: #08c;
	padding: 0;
}
.link-display:hover, .link-display:focus, .link-display:active {
	text-decoration: underline;
	cursor: pointer;
}

.logo {
	width: 10%;
	margin: 0 0 0 0.5%;
}

.display-item {
	transition:all linear 0.25s;
	display: flex;
	flex-direction: row;
}
img.preview-image {
	filter: grayscale(75%);
	width: 100px;
	transition:all linear 0.25s;
}

img.preview-image:hover {
	filter: grayscale(0%);
	width: 200px;
}

img.preview-image + .description {
	display: none;
}

img.preview-image:hover + .description {
	display: inline-block;
}

.display-item .description {
	max-width: 66%;
}
