{erl_opts, [debug_info]}.
{deps, [
	{pgapp,   {git, "https://github.com/epgsql/pgapp.git",    {branch, "master"}}},
	{erl_img, {git, "https://github.com/okeuday/erl_img.git", {branch, "master"}}},
	{mini_s3, {git, "https://github.com/ricecake/mini_s3.git",{branch, "master"}}},
	{sqerl,   {git, "https://github.com/devinus/sqerl.git",   {branch, "master"}}}
]}.
